



PORT=3000
DB_TYPE=mongodb
DB_HOST=54.169.36.169
DB_PORT=27017
DB_USER=admintest
DB_PASSWORD=admintest
DB_NAME=dbtest
HOOKBIN_URL=https://hookb.in/G9XG9bY210fE2xPP2N93
BIRTHDAY_NOTIFICATION_LIMIT=100000
THREAD_LIMIT=4